delete:
  - "dashboard/SLO Dashboard for Tenant TENANT_ID"
  - "dashboard/KQG;project=dynatrace;stage=production;service=tnt-TENANT_ID-svc"
  - "dashboard/KQG;project=delivery-demo;stage=staging;service=tnt-TENANT_ID-svc"
  - "slo/Availability of TENANT_ID"
  - "slo/Performance SLO of TENANT_ID"
