config:
    - staging_qualitygate_db: "qualitygatedb.json"

staging_qualitygate_db:
  - owner: "REPLACE_DASHBOARD_OWNER"
  - keptnbridge: "http://REPLACE_KEPTN_BRIDGE/bridge"
  - name: "KQG;project={{ .Env.KEPTN_PROJECT }};service={{ .Env.KEPTN_SERVICE }};stage={{ .Env.KEPTN_STAGE }}"
  - project: "{{ .Env.KEPTN_PROJECT }}"
  - stage: "{{ .Env.KEPTN_STAGE }}"
  - service: "{{ .Env.KEPTN_SERVICE }}"  
  - mzId: "{{ .Env.KEPTN_SERVICE }}/management-zone/management-zone-keptn-project-stage.id"
  - mzName: "{{ .Env.KEPTN_SERVICE }}/management-zone/management-zone-keptn-project-stage.name"